<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="header-menu">
            <ul class="navbar-nav">
                <div>
                    <li><a href="#about" class="my-title">Stefan's Portfolio</a></li>
                </div>
                <div class="main-nav">
                    <li><a class="nav-link">Home</a></li>
                    <li><a smooth-scroll href="#work-experience" class="nav-link">Todos</a></li>
                    <li><a class="nav-link">Login</a></li>
                    <li><a class="nav-link">Logout</a></li>
                </div>


            </ul>
        </div>
    </nav>
</header>