@media only screen and (max-width: 500px) {
    .header-menu {
        text-align: center;
        width: 100%;
        position: fixed;
        /* Set the navbar to fixed position */
        top: 0;
        /* Position the navbar at the top of the page */
        overflow: hidden;
        z-index: 100;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        display: inline-block;
        width: 100%;
      }
    
      li {
        float: left;
      }
      .main-nav {
        float: center;
        margin-left: 44%;
    
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 7px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }
}