<div class="wrapper">
    <div class="footer-row">

        <div class="column">
            <h2>About</h2>
            <p>Stefan has almost 2 years of professional experience in Computer Science. He has completed different
                projects in CEGEP, university and internships. Some of the projects he worked on improved his
                coding,
                documenting, planning, and testing expertise. He is always open to new challenges that can help him
                become a better programmer and help client’s ideas come to life.</p>
        </div>

        <div class="column">
            <h2>Quick Links</h2>
            <p>quick linksss</p>
        </div>


    </div>

    <hr>
    <div class="reserved-txt">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
            <a href="#">Stefan John Bosco</a>.
        </p>
    </div>
</div>