.example-card {
  max-width: 1000px;
  margin-bottom: 8px;
  margin: auto;
  margin-top: 100px;
  background-color: lightgray;
  border-radius: 5%;

}

@media only screen and (max-width: 1000px) {
  .about {
    width: auto;

  }

  .example-card {
    width: 800px;
    // margin-bottom: 8px;
    // margin-left: 500px;
    // margin-right: 500px;
    //margin: auto;
    // margin:auto;
    margin-top: 100px;
    //margin-left: 10pz;
    background-color: lightgray;
    border-radius: 5%;
  }

  mat-card-content {
    margin-top: -30px;
    font-size:medium;
  }

  mat-card-title {
    width: 150px;
    position: relative;
  }

  mat-card-subtitle {
    //font-size:medium;
    width: 200px;
    position: relative;
  }

  mat-card-title-group {
    float: left;
  }

  // .title-subtile {
  //   position: relative;
  // }

  .social-media-links {
    //margin-top: 50px;
    //padding: 20px;
    width: 400px;
    margin-top: 20px;
    margin-left: 280px;
    float: left;
    position: absolute;

  }

  .stef-img {
    position: relative;
    top: -55px;
    margin-bottom: 50px;
    margin-left: 60px;
    transform: scale(0.7);
  }

  // mat-card-header {
  //   position: relative;
  // }
}

.stef-img {
  margin-right: 30px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about {
  //position: absolute;
  max-width: auto;
}

.about-page {
  margin: auto;
  text-align: center;
}

.social-media-links {
  margin-top: 50px;
  padding: 20px;

}

i {
  padding-right: 50px;
}

a {
  color: inherit;
}