<!-- <div class="about">
    <div class="circular--portrait">
        <img cImg height="200" rounded src="assets/img/peace.PNG" width="200" />
    </div>
   

</div> -->
<div id="about">
  <mat-card class="example-card">
    <h1 class="about-page">About</h1>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Stefan John Bosco</mat-card-title>
        <mat-card-subtitle>Full Stack Java Developer</mat-card-subtitle>
        <!-- <img mat-card-sm-image class="stef-img" src="assets/img/peace.PNG" > -->
        <div class="social-media-links">
          <a href="https://github.com/StefanJB1995" target="_blank"><i class="fa-brands fa-github fa-beat fa-2xl"></i></a>
          <a href="https://www.youtube.com/channel/UCWGQ23rww9jMPansfhBKtUQ" target="_blank"><i class="fa-brands fa-youtube fa-beat fa-2xl"></i></a>
          <a href="https://www.linkedin.com/in/stefan-john-bosco-56a983216/" target="_blank"><i class="fa-brands fa-linkedin fa-beat fa-2xl"></i></a>
        </div>
        <img class="stef-img" src="assets/img/profile-pic.jpeg">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>
</div>
