<div class="about">
    <div class="circular--portrait">
        <img cImg height="200" rounded src="assets/img/peace.PNG" width="200" />
    </div>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="assets/img/peace.PNG" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card>

</div>
