.wrapper {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.example-card {
    max-width: 400px;
    margin-left: 30px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .projects-itms {
    display: inline-flex;
  }

  @media only screen and (max-width:390px) and (max-height: 844px) {

    .wrapper {
      margin: auto;
      margin-top: 30px;
      text-align: center;
      width: 100%;
    }
    
    .example-card {
        max-width: 30%;
        margin-left: 30px;
        
      }
      
      .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
    
      .projects-itms {
        // display: inline-flex;
        width: 50%;
        height: 50%;
      }
  }