<div class="work-exp" id="work-exp">
    <h1>Work Experience</h1>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h2>CGI</h2>
                <h5>- June 2022 to February 2023</h5>
            </mat-card-title>

            <mat-card-subtitle>Full Stack Java Developer/Consultant</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list class="example-list-wrapping">
                <mat-list-item lines="10">
                    <!-- <span matListItemTitle>Tech Academy</span> -->
                    <h3>Tech Academy</h3>
                    ▪ Successfully completed 500 hours of the Full Stack Software Engineering Program from CGI Tech
                    Academy <br>
                    ▪ Deep Dive into Core Java Foundation with meaningful hands on experience implementing Object
                    Oriented programming concepts, Data structure and Algorithms <br>
                    ▪ Working experience in building and testing responsive web applications using Angular and
                    TypeScript <br>
                    ▪ Design, Develop and Implement RESTful APIs, Web Services and Microservices using Spring Boot,
                    containerization using Docker <br>
                    ▪ Design, Develop and Implement persistence data layer with SQL <br>
                    ▪ Capstone Project <br>

                </mat-list-item>
                <mat-list-item lines="4">
                    <h3>Integration Project of CGI Tech Academy – Aplomb</h3>
                    ▪ An insurance product trading application built with Java Spring Boot and Angular.<br>
                    ▪ Backend Development: CRUD for insurance company microservice, OpenAPI <br>
                    ▪ Frontend Development: Connecting backend with frontend in the TypeScript file and using HTML to
                    display data
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h2>Acceuil Aux Immigrants de l'Est de Montreal (AIEM)</h2>
                <h5>- June 2022 to February 2022</h5>
            </mat-card-title>

            <mat-card-subtitle>Web Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list class="example-list-wrapping">
                <mat-list-item lines="4">
                    <!-- <span matListItemTitle>Tech Academy</span> -->
                    <h3>Receptionists Webapp</h3>
                    ▪ Made their daily tasks easier by automating tasks and creating a website<br>
                    ▪ Keep track of appointments with clients<br>
                    ▪ Easily store data in database instead of using paper<br>
                    ▪ Integrated Microsoft Graph API and Twilio for sending appointment reminder via SMS
                </mat-list-item>
                <mat-list-item lines="4">
                    <h3>AIEM Clients Webapp</h3>
                    ▪ Clients can sign-up easily online<br>
                    ▪ Data is stored safely in a private server
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>