.wrapper {
    //height: 800px;
    width: 100%;
    margin: auto;
    //border: 2px solid black;
    text-align: center;
}

.img-slide {
    width: 50%;
    // margin-left: auto;
    // margin-right: auto;
    display: inline;
    float: none;
}

.imgField {
    //display: inline;
    width: 80%;
    float: none;
    //border: 2px solid black;
    margin-left: 10%;
    //margin-right: 50%;
    text-align: center;
}

// h2 {
//     margin-left: 25%;
// }

// #leftarr {
//     line-height: 2px;
// }

.left-arr {
    float: left;
    margin-top: 20%;
    margin-left: 20%;
}

.right-arr {
    float: right;
    margin-top: 20%;
    margin-right: 20%;
}

@media only screen and (max-width:480px) and (max-height: 844px) {

    .wrapper {
        //height: 800px;
        width: 100%;
        margin-top: -50px;
        //margin: auto;
        //border: 2px solid black;
        text-align: center;
    }

    .img-slide {
        width: 90%;
        // margin-left: auto;
        // margin-right: auto;
        display: inline;
        float: none;
    }

    .imgField {
        //display: inline;
        width: 90%;
        float: none;
        //border: 2px solid black;
        margin-left: 5%;
        //margin-right: 50%;
        text-align: center;
        margin-top: -20ox;
    }

    .left-arr {
        float: left;
        margin-top: 35%;
        margin-left: -5%;
        font-size: small;
    }
    
    .right-arr {
        float: right;
        margin-top: 35%;
        margin-right: -5%;
        font-size: small;
    }
}